# **Assignment 6**:  Pipeline & Vectorization
##### Emily Daskas

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
import string
import pandas as pd
import re
import nltk
from nltk.stem import PorterStemmer
nltk.download('stopwords')
from sklearn.feature_extraction.text import CountVectorizer
from textblob import TextBlob
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

**Document 1:** It’s become a familiar sight for the Chapman community: President Daniele Struppa standing on stage at the Musco Center, addressing a combined audience of university faculty, staff and university supporters.

**Document 2:** What was different this year —as has been the case for most events this year —was that everyone in the audience was viewing the address from home.



*In all the 6 problems below, apply ‘List Comprehension’ and ‘Lambda’ functions of Python language to write your code.*

In [ ]:
document_1 = "It's become a familiar sight for the Chapman community: President Daniele Struppa standing on stage at the Musco Center, addressing a combined audience of university faculty, staff and university supporters."
document_2 = "What was different this year -as has been the case for most events this year -was that everyone in the audience was viewing the address from home."

In [ ]:
df = pd.DataFrame({'document': [document_1, document_2]})

**1.  Clean both the documents by removing all punctuation characters from them.**

In [ ]:
def remove_punctuation(txt):
  return "".join([c for c in txt if c not in string.punctuation])

In [ ]:
df['cleaned'] = df['document'].apply(lambda x: remove_punctuation(x))
df.head()

                                            document                                            cleaned
0  It's become a familiar sight for the Chapman c...  Its become a familiar sight for the Chapman co...
1  What was different this year -as has been the ...  What was different this year as has been the c...

**2. Tokenization the words of both documents using Regular Expressions.**

In [ ]:
def tokenize(txt):
  return re.split('\W+', txt)

In [ ]:
df['tokenized'] = df['cleaned'].apply(lambda x: tokenize(x.lower()))
df

                                            document  ...                                          tokenized
0  It's become a familiar sight for the Chapman c...  ...  [its, become, a, familiar, sight, for, the, ch...
1  What was different this year -as has been the ...  ...  [what, was, different, this, year, as, has, be...

[2 rows x 3 columns]

**3. Download all the English language stop words from NLTK library.  Remove stop words from both documents.**

In [ ]:
stopwords = nltk.corpus.stopwords.words('english')

In [ ]:
def remove_stopwords(txt_tokenized):
  return [word for word in txt_tokenized if word not in stopwords]

In [ ]:
df['no_sw'] = df['tokenized'].apply(lambda x: remove_stopwords(x))
df

                                            document  ...                                              no_sw
0  It's become a familiar sight for the Chapman c...  ...  [become, familiar, sight, chapman, community, ...
1  What was different this year -as has been the ...  ...  [different, year, case, events, year, everyone...

[2 rows x 4 columns]

**4. Replace the words of both documents with their stems.**

In [ ]:
ps = PorterStemmer()

In [ ]:
def replace_with_stems(txt_tokenized):
  return [ps.stem(word) for word in txt_tokenized]

In [ ]:
df['stemmed'] = df['no_sw'].apply(lambda x: replace_with_stems(x))
df

                                            document  ...                                            stemmed
0  It's become a familiar sight for the Chapman c...  ...  [becom, familiar, sight, chapman, commun, pres...
1  What was different this year -as has been the ...  ...  [differ, year, case, event, year, everyon, aud...

[2 rows x 5 columns]

**5. Using the Count Vectorizer available in the Scikit-Learn library create a vector for both documents.**

In [ ]:
cv = CountVectorizer()
X = cv.fit(df['cleaned'])
print(cv.get_feature_names())
print(X.vocabulary_)

['address', 'addressing', 'and', 'as', 'at', 'audience', 'become', 'been', 'case', 'center', 'chapman', 'combined', 'community', 'daniele', 'different', 'events', 'everyone', 'faculty', 'familiar', 'for', 'from', 'has', 'home', 'in', 'its', 'most', 'musco', 'of', 'on', 'president', 'sight', 'staff', 'stage', 'standing', 'struppa', 'supporters', 'that', 'the', 'this', 'university', 'viewing', 'was', 'what', 'year']
{'its': 24, 'become': 6, 'familiar': 18, 'sight': 30, 'for': 19, 'the': 37, 'chapman': 10, 'community': 12, 'president': 29, 'daniele': 13, 'struppa': 34, 'standing': 33, 'on': 28, 'stage': 32, 'at': 4, 'musco': 26, 'center': 9, 'addressing': 1, 'combined': 11, 'audience': 5, 'of': 27, 'university': 39, 'faculty': 17, 'staff': 31, 'and': 2, 'supporters': 35, 'what': 42, 'was': 41, 'different': 14, 'this': 38, 'year': 43, 'as': 3, 'has': 21, 'been': 7, 'case': 8, 'most': 25, 'events': 15, 'that': 36, 'everyone': 16, 'in': 23, 'viewing': 40, 'address': 0, 'from': 20, 'home': 22}

In [ ]:
X = cv.transform(df['cleaned'])
print(X)

  (0, 1)	1
  (0, 2)	1
  (0, 4)	1
  (0, 5)	1
  (0, 6)	1
  (0, 9)	1
  (0, 10)	1
  (0, 11)	1
  (0, 12)	1
  (0, 13)	1
  (0, 17)	1
  (0, 18)	1
  (0, 19)	1
  (0, 24)	1
  (0, 26)	1
  (0, 27)	1
  (0, 28)	1
  (0, 29)	1
  (0, 30)	1
  (0, 31)	1
  (0, 32)	1
  (0, 33)	1
  (0, 34)	1
  (0, 35)	1
  (0, 37)	2
  (0, 39)	2
  (1, 0)	1
  (1, 3)	1
  (1, 5)	1
  (1, 7)	1
  (1, 8)	1
  (1, 14)	1
  (1, 15)	1
  (1, 16)	1
  (1, 19)	1
  (1, 20)	1
  (1, 21)	1
  (1, 22)	1
  (1, 23)	1
  (1, 25)	1
  (1, 36)	1
  (1, 37)	3
  (1, 38)	2
  (1, 40)	1
  (1, 41)	3
  (1, 42)	1
  (1, 43)	2

In [ ]:
pd.DataFrame(X.toarray(), columns = cv.get_feature_names())

   address  addressing  and  as  at  ...  university  viewing  was  what  year
0        0           1    1   0   1  ...           2        0    0     0     0
1        1           0    0   1   0  ...           0        1    3     1     2

[2 rows x 44 columns]

**6. Using the Count Vectorizer available in the Scikit-Learn library create a bi-gram and tri-gram vectors for both documents.**

In [ ]:
def clean_text_ngram(txt):
 txt = remove_punctuation(txt)
 tokens = tokenize(txt)
 return " ".join([ps.stem(word) for word in tokens if word not in stopwords])

In [ ]:
df['clean_ngram'] = df['document'].apply(lambda x: clean_text_ngram(x))
df

                                            document  ...                                        clean_ngram
0  It's become a familiar sight for the Chapman c...  ...  it becom familiar sight chapman commun presid ...
1  What was different this year -as has been the ...  ...  what differ year case event year everyon audie...

[2 rows x 6 columns]

In [ ]:
cv = CountVectorizer(ngram_range=(2, 3))
X = cv.fit_transform(df['clean_ngram'])
df = pd.DataFrame(X.toarray(), columns = cv.get_feature_names())
df

   address combin  address combin audienc  ...  year everyon  year everyon audienc
0               1                       1  ...             0                     0
1               0                       0  ...             1                     1

[2 rows x 58 columns]